.colorwhite i{
	color: white;
}

.amarillito{
	color: #f59c1a;
}

.hiddenfile {
	position: absolute;
	top:-10000000000px;
   }

.blanco{
	color: white;
}

.panel-inverse>.panel-heading{
	background: #383838;
}

.kline {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	position: relative;
}

div#kline_container{
	width: 100%!important;
}

.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary.disabled:focus,
.btn.btn-primary.disabled:hover, .btn.btn-primary[disabled],
.btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled]:hover, .btn-primary:active,
.btn-primary:active:hover, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active,
label.btn.btn-primary.active.focus, .btn.btn-success, .btn.btn-inverse{
	background: #ffb138; /* NARANJA */
	border-color: #ffb138;
}

.sidebar, .sidebar-bg{
	background: #2d2c25;
}

body{
	background: #f9f9f9;
}

.header .navbar-logo, .login .login-header .brand .logo,
.header .navbar-nav > li > a .label, .label.label-theme,
.btn.btn-scroll-to-top{
background: #ff5000;
}

.font-14{
	font-size: 14px;
}
